.event table {
  text-align: center;
  text-transform: capitalize;
  margin: 3rem 1rem;
  background-color: #ddd;
  width: calc(100% - 2rem);
}
th {
  background-color: #bbb;
}
.event img {
  width: 40vw;
}
.event table,
th,
td {
  border: none;
}
.event th {
  margin: 0;
  width: 6rem;
}
.event table th:nth-child(5) {
  width: 15rem;
}
.block {
  display: block;
}
@media screen and (max-width: 768px) {
  .event img {
    width: 20vw;
  }
}
@media screen and (max-width: 480px) {
  .event th {
    width: 4rem;
    font-size: 0.5rem;
  }
  .event table th:nth-child(5) {
    width: 5rem;
  }
}
