* {
  margin: 0;
  padding: 0;
}
section {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  background-color: #333;
}
.section-center {
  background-color: rgb(195, 140, 0);
  min-height: 16rem;
  min-width: 25rem;
  width: 50vh;
  box-shadow: 0 0 1rem #000;
}
form {
  position: relative;
}
.text-inputs input {
  width: 90%;
  display: block;
  margin: 1rem auto;
  height: 2.5rem;
  border-radius: 0.5rem;
}
.check-inputs input,
.check-inputs label {
  display: inline-block;
  margin: 0 0.5rem;
}
.check-inputs {
  margin: 1rem;
  text-transform: capitalize;
}
button {
  width: 60%;
  background-color: #111;
  height: 3rem;
  border: none;
  color: #fff;
  font-size: 2rem;
  text-transform: uppercase;
  font-weight: bolder;
  display: block;
  margin: 0 auto;
}
button:hover {
  background-color: #222;
  color: goldenrod;
  box-shadow: 2px 4px 17px black;
  cursor: pointer;
}
p {
  text-align: center;
  margin: 1rem;
}
.register-show-hide,
.login-show-hide {
  height: 1rem;
}
.warning {
  text-align: left;
  margin: 0;
  font-size: 1.125rem;
  font-weight: bolder;
  text-shadow: 2px 4px 1rem #f00;
  color: #742d21;
  display: none;
}
.empty-input-warning {
  margin-top: 0.5rem;
  color: rgb(198, 54, 14);
  font-weight: bolder;
  font-size: 1.125rem;
  text-shadow: 2px 4px 0.5rem rgb(198, 54, 14);
  text-decoration: underline;
}
.block {
  display: block;
}
