.ticket {
  text-align: center;
  border: 1px solid #000;
  width: 90%;
  margin: 3rem auto;
  border-collapse: collapse;
  text-transform: capitalize;
}
th {
  background-color: #bbb;
}
.ticket th {
  border: 1px dashed #000;
}
.ticket td {
  border: 1px dashed #000;
}
.ticket tr {
  height: 6.125rem;
}
.ticket tr:nth-child(odd) {
  background-color: rgb(179, 179, 146);
}
.ticket tr > :nth-child(3) {
  color: #760968;
}
.ticket button {
  background-color: rgb(15, 114, 167);
  color: #fff;
  font-weight: bold;
  border: none;
  height: 2rem;
  font-size: 1.125rem;
  min-width: 60%;
  border-radius: 0.5rem;
}
.ticket button:hover {
  background-color: rgb(146, 198, 42);
  cursor: pointer;
}
